In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import os

In [2]:
path_var = Path('Raw/[IN-023C]/2018/2018-12/')
# type(path_var)

In [3]:
example_data = pd.read_csv("./Gen1/[IN-023C]/2018/2018-12/Inverter_1/[IN-023C]-I1-2018-12-01.txt",sep='\t')
example_data.head()#.to_csv('given_sample.csv')

,Tstamp,Inverter_Id,Fb_Id,DTT,Device_Time,SES,Salve_Id,Function_Code,AC_Voltage_Line1,AC_Voltage_Line2,...,AC_Current_Totoal,AC_Volatge_RY,AC_Volatge_YB,AC_Volatge_BR,Apparent_Power,Event_Flag_1,Event_Flag_2,Event_Flag_3,Event_Flag_4,Coolent_Temp
0,2018-12-01 00:00:00,2.0,CT08,1.0,2018-12-01 00:00:04,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
1,2018-12-01 00:05:00,2.0,CT08,1.0,2018-12-01 00:04:04,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
2,2018-12-01 00:10:00,2.0,CT08,1.0,2018-12-01 00:10:14,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
3,2018-12-01 00:15:00,2.0,CT08,1.0,2018-12-01 00:15:33,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
4,2018-12-01 00:20:00,2.0,CT08,1.0,2018-12-01 00:20:53,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0

In [107]:
data_raw_18i1= pd.read_csv("./Gen1/[IN-023C]/2018/2018-12/Inverter_1/[IN-023C]-I1-2018-12-01.txt",sep='\t')
data_raw_18i1.head()

,Tstamp,Inverter_Id,Fb_Id,DTT,Device_Time,SES,Salve_Id,Function_Code,AC_Voltage_Line1,AC_Voltage_Line2,...,AC_Current_Totoal,AC_Volatge_RY,AC_Volatge_YB,AC_Volatge_BR,Apparent_Power,Event_Flag_1,Event_Flag_2,Event_Flag_3,Event_Flag_4,Coolent_Temp
0,2018-12-01 00:00:00,2.0,CT08,1.0,2018-12-01 00:00:04,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
1,2018-12-01 00:05:00,2.0,CT08,1.0,2018-12-01 00:04:04,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
2,2018-12-01 00:10:00,2.0,CT08,1.0,2018-12-01 00:10:14,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
3,2018-12-01 00:15:00,2.0,CT08,1.0,2018-12-01 00:15:33,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
4,2018-12-01 00:20:00,2.0,CT08,1.0,2018-12-01 00:20:53,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0

In [4]:
s_data_columns=list(example_data.columns)
# s_data_columns

In [5]:
data = pd.read_csv("Raw/[IN-023C]/2018/2018-12/Inverter_1/[IN-023C]-I1-2018-12-01.txt",sep = '\t')
data.loc[:,['i5','i32']] = data.loc[:,['i5','i32']].apply(pd.to_datetime,errors='coerce')
# pd.to_datetime(data['i32'])
data.head()

,i1,i2,i3,i4,i5,i6,i7,i8,i9,i10,...,i45,i46,i47,i48,i49,i50,i51,i52,i53,i54
0,NaN,2,CT08,1,2018-12-01 00:00:04,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
1,NaN,2,CT08,1,2018-12-01 00:01:23,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
2,NaN,2,CT08,1,2018-12-01 00:02:43,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
3,NaN,2,CT08,1,2018-12-01 00:04:04,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
4,NaN,2,CT08,1,2018-12-01 00:06:15,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34

In [6]:
cols = list(data.columns)
a, b = cols.index('i1'), cols.index('i32')
cols[b], cols[a] = cols[a], cols[b]
data = data[cols]

In [7]:
data

,i32,i2,i3,i4,i5,i6,i7,i8,i9,i10,...,i45,i46,i47,i48,i49,i50,i51,i52,i53,i54
0,2018-12-01 00:00:04,2,CT08,1,2018-12-01 00:00:04,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
1,2018-12-01 00:01:23,2,CT08,1,2018-12-01 00:01:23,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
2,2018-12-01 00:02:43,2,CT08,1,2018-12-01 00:02:43,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
3,2018-12-01 00:04:04,2,CT08,1,2018-12-01 00:04:04,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
4,2018-12-01 00:06:15,2,CT08,1,2018-12-01 00:06:15,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049,2018-12-01 23:52:29,2,CT08,1,2018-12-01 23:52:29,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,35
1050,2018-12-01 23:53:49,2,CT08,1,2018-12-01 23:53:49,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,35
1051,2018-12-01 23:55:09,2,CT08,1,2018-12-01 23:55:09,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,35
1052,2018-12-01 23:56:28,2,CT08,1,2018-12-01 23:56:28,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,35
1053,2018-12-01 23:57:48,2,CT08,1,2018-12-01 23:57:48,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,35

In [8]:
raw_data_columns= list(data.columns)

In [9]:
# raw_data_columns

In [ ]:
# a = []
# a.append(raw_data_columns[31])
# a.extend(raw_data_columns)
# if len(a)==(data.shape[1]+1):
#     a.pop(32)

In [ ]:
# len(a)
# raw_data_columns_modified=a

In [ ]:
# data = data[raw_data_columns_modified]

In [10]:
data.head()

,i32,i2,i3,i4,i5,i6,i7,i8,i9,i10,...,i45,i46,i47,i48,i49,i50,i51,i52,i53,i54
0,2018-12-01 00:00:04,2,CT08,1,2018-12-01 00:00:04,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
1,2018-12-01 00:01:23,2,CT08,1,2018-12-01 00:01:23,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
2,2018-12-01 00:02:43,2,CT08,1,2018-12-01 00:02:43,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
3,2018-12-01 00:04:04,2,CT08,1,2018-12-01 00:04:04,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
4,2018-12-01 00:06:15,2,CT08,1,2018-12-01 00:06:15,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34

In [11]:
d = dict(zip(raw_data_columns,s_data_columns))
# d

In [12]:
data = data[d]

In [13]:
data.shape

(1054, 54)

In [14]:
data.rename(columns = d,inplace = True)
data.head()

,Tstamp,Inverter_Id,Fb_Id,DTT,Device_Time,SES,Salve_Id,Function_Code,AC_Voltage_Line1,AC_Voltage_Line2,...,AC_Current_Totoal,AC_Volatge_RY,AC_Volatge_YB,AC_Volatge_BR,Apparent_Power,Event_Flag_1,Event_Flag_2,Event_Flag_3,Event_Flag_4,Coolent_Temp
0,2018-12-01 00:00:04,2,CT08,1,2018-12-01 00:00:04,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
1,2018-12-01 00:01:23,2,CT08,1,2018-12-01 00:01:23,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
2,2018-12-01 00:02:43,2,CT08,1,2018-12-01 00:02:43,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
3,2018-12-01 00:04:04,2,CT08,1,2018-12-01 00:04:04,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34
4,2018-12-01 00:06:15,2,CT08,1,2018-12-01 00:06:15,0,1,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,34

In [ ]:
# rola=data.iloc[:,0].dtype

In [15]:
data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
data.iloc[:,[1,3]]=data.iloc[:,[1,3]].astype('float64')
data.head()

,Tstamp,Inverter_Id,Fb_Id,DTT,Device_Time,SES,Salve_Id,Function_Code,AC_Voltage_Line1,AC_Voltage_Line2,...,AC_Current_Totoal,AC_Volatge_RY,AC_Volatge_YB,AC_Volatge_BR,Apparent_Power,Event_Flag_1,Event_Flag_2,Event_Flag_3,Event_Flag_4,Coolent_Temp
0,2018-12-01 00:00:04,2.0,CT08,1.0,2018-12-01 00:00:04,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
1,2018-12-01 00:01:23,2.0,CT08,1.0,2018-12-01 00:01:23,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
2,2018-12-01 00:02:43,2.0,CT08,1.0,2018-12-01 00:02:43,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
3,2018-12-01 00:04:04,2.0,CT08,1.0,2018-12-01 00:04:04,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0
4,2018-12-01 00:06:15,2.0,CT08,1.0,2018-12-01 00:06:15,0.0,1.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.0

In [35]:
data.fillna('NULL',inplace=True)

In [ ]:
# data.to_csv('auto.txt',sep=' ',index=False)

In [56]:
# data_datatypes=' '.join(data.dtypes.name)
data_datatypes=data.dtypes
print(data_datatypes)

Tstamp                           datetime64[ns]
Inverter_Id                             float64
Fb_Id                                    object
DTT                                     float64
Device_Time                      datetime64[ns]
SES                                     float64
Salve_Id                                float64
Function_Code                           float64
AC_Voltage_Line1                        float64
AC_Voltage_Line2                        float64
AC_Voltage_Line3                        float64
AC_Current_Line1                        float64
AC_Current_Line2                        float64
AC_Current_Line3                        float64
AC_Power                                float64
AC_Power_Percentage                      object
AC_Frequency                            float64
Power_Factor                            float64
Reactive_Power                          float64
DC_Current                              float64
DC_Power                                float64
Inverter_Temprature                     float64
Time_Of_Use_Today                        object
Time_Of_Use_Life                         object
Energy_Produced                          object
KWH_Counter                              object
MWH_Counter                              object
GWH_Counter                              object
DC_Voltage                              float64
Inverter_Status                         float64
Energy_Generated_Today                   object
Id                                       object
Total_Energy_Generated_Till             float64
Inverter_Communication_Status           float64
AC_Power_2                               object
AC_Power_3                               object
AC_Frequency_2                           object
AC_Frequency_3                           object
DC_Voltage_2                            float64
DC_Power_2                              float64
DC_Current_2                            float64
Plant_Id                                float64
Inv_Status_Word                          object
Grid_Conn_Status                        float64
AC_Current_Totoal                       float64
AC_Volatge_RY                           float64
AC_Volatge_YB                           float64
AC_Volatge_BR                           float64
Apparent_Power                          float64
Event_Flag_1                            float64
Event_Flag_2                            float64
Event_Flag_3                            float64
Event_Flag_4                            float64
Coolent_Temp                            float64
dtype: object

In [60]:
s_data_columns=list(example_data.columns)
str_columns = ' '.join(s_data_columns)
str_columns

'Tstamp Inverter_Id Fb_Id DTT Device_Time SES Salve_Id Function_Code AC_Voltage_Line1 AC_Voltage_Line2 AC_Voltage_Line3 AC_Current_Line1 AC_Current_Line2 AC_Current_Line3 AC_Power AC_Power_Percentage AC_Frequency Power_Factor Reactive_Power DC_Current DC_Power Inverter_Temprature Time_Of_Use_Today Time_Of_Use_Life Energy_Produced KWH_Counter MWH_Counter GWH_Counter DC_Voltage Inverter_Status Energy_Generated_Today Id Total_Energy_Generated_Till Inverter_Communication_Status AC_Power_2 AC_Power_3 AC_Frequency_2 AC_Frequency_3 DC_Voltage_2 DC_Power_2 DC_Current_2 Plant_Id Inv_Status_Word Grid_Conn_Status AC_Current_Totoal AC_Volatge_RY AC_Volatge_YB AC_Volatge_BR Apparent_Power Event_Flag_1 Event_Flag_2 Event_Flag_3 Event_Flag_4 Coolent_Temp'

In [58]:
# np.savetxt('sample_csv.txt',data,fmt='%s',delimiter=' ',header=str_columns.split(' '),comments='')

AttributeError: 'list' object has no attribute 'replace'

In [19]:
# data.dtypes

In [ ]:
data.to_csv('auto.txt',sep='\t')

In [ ]:


os.makedirs('mydata/[IN-023C]/2018/2018-12/Inverter_1',exist_ok=True)
os.makedirs('mydata/[IN-023C]/2018/2018-12/Inverter_2',exist_ok=True)
os.makedirs('mydata/[IN-023C]/2018/2018-12/MFM',exist_ok=True)
os.makedirs('mydata/[IN-023C]/2018/2018-12/WMS',exist_ok=True)


os.makedirs('mydata/[IN-023C]/2019/2019-01/Inverter_1',exist_ok=True)
os.makedirs('mydata/[IN-023C]/2019/2019-01/Inverter_2',exist_ok=True)
os.makedirs('mydata/[IN-023C]/2019/2019-01/MFM',exist_ok=True)
os.makedirs('mydata/[IN-023C]/2019/2019-01/WMS',exist_ok=True)

In [ ]:
path_var

In [96]:
list_file =[file for file in sorted(os.listdir('Raw/[IN-023C]/2018/2018-12/Inverter_1/')) if '.txt' in file]
list_file_2 =[file for file in sorted(os.listdir('Raw/[IN-023C]/2018/2018-12/Inverter_2/')) if '.txt' in file]
list_file_3 =[file for file in sorted(os.listdir('Raw/[IN-023C]/2018/2018-12/MFM/')) if '.txt' in file]
list_file_4 =[file for file in sorted(os.listdir('Raw/[IN-023C]/2018/2018-12/WMS/')) if '.txt' in file]

In [ ]:
# list_file

In [98]:
pathvar_raw_18_i1 = Path('./Raw/[IN-023C]/2018/2018-12/Inverter_1/') #raw folder pathvariables 2018
pathvar_raw_18_i2 = Path('./Raw/[IN-023C]/2018/2018-12/Inverter_2/')
pathvar_raw_18_mfm = Path('./Raw/[IN-023C]/2018/2018-12/MFM/')
pathvar_raw_18_wms = Path('./Raw/[IN-023C]/2018/2018-12/WMS/')

pathvar_raw_19_i1 = Path('./Raw/[IN-023C]/2019/2019-01/Inverter_1/') #raw folder pathvariable 2019
pathvar_raw_19_i2 = Path('./Raw/[IN-023C]/2019/2019-01/Inverter_2/')
pathvar_raw_19_mfm = Path('./Raw/[IN-023C]/2019/2019-01/MFM/')
pathvar_raw_19_wms = Path('./Raw/[IN-023C]/2019/2019-01/WMS/')


pathvar_gen_18_i1 = Path('./mydata/[IN-023C]/2018/2018-12/Inverter_1/') #gen folder pathvariables 2018
pathvar_gen_18_i2 = Path('./mydata/[IN-023C]/2018/2018-12/Inverter_2/')
pathvar_gen_18_mfm = Path('./mydata/[IN-023C]/2018/2018-12/MFM/')
pathvar_gen_18_wms = Path('./mydata/[IN-023C]/2018/2018-12/WMS/')

pathvar_gen_19_i1 = Path('./mydata/[IN-023C]/2019/2019-01/Inverter_1/') #gen folder pathvariables 2019
pathvar_gen_19_i2 = Path('./mydata/[IN-023C]/2019/2019-01/Inverter_2/')
pathvar_gen_19_mfm = Path('./mydata/[IN-023C]/2019/2019-01/MFM/')
pathvar_gen_19_wms = Path('./mydata/[IN-023C]/2019/2019-01/WMS/')

s_data_columns=list(example_data.columns)
# s_data_columns

In [178]:
## column_header from the sample(Gen1) folder
data_sample_18_i1 = pd.read_csv("./Gen1/[IN-023C]/2018/2018-12/Inverter_1/[IN-023C]-I1-2018-12-01.txt",sep='\t')
data_sample_18_i2 = pd.read_csv("./Gen1/[IN-023C]/2018/2018-12/Inverter_2/[IN-023C]-I2-2018-12-01.txt",sep='\t')
data_sample_18_mfm = pd.read_csv('./Gen1/[IN-023C]/2018/2018-12/MFM/[IN-023C]-MFM1-2018-12-01.txt',sep='\t')
data_sample_18_wms = pd.read_csv('./Gen1/[IN-023C]/2018/2018-12/WMS/[IN-023C]-WMS-2018-12-01.txt',sep='\t')

# data_sample_19_i1 = pd.read_csv('./Gen1/[IN-023C]/2019/2019-01/Inverter_1/[IN-023C]-I1-2019-01-01.txt',sep='\t')
# data_sample_19_i2 = pd.read_csv('./Gen1/[IN-023C]/2019/2019-01/Inverter_2/[IN-023C]-I2-2019-01-01.txt',sep='\t')
# data_sample_19_mfm = pd.read_csv('./Gen1/[IN-023C]/2019/2019-01/MFM/[IN-023C]-MFM1-2019-01-01.txt',sep='\t')
# data_sample_19_wms = pd.read_csv('./Gen1/[IN-023C]/2019/2019-01/WMS/[IN-023C]-WMS-2019-01-01.txt',sep='\t')
    
colheader_sample_i1 = list(data_sample_18_i1.columns)
colheader_sample_i2 = list(data_sample_18_i2.columns)
colheader_sample_mfm = list(data_sample_18_mfm.columns)
colheader_sample_wms = list(data_sample_18_wms.columns)

# colheader_sample_19_i1 = list(data_sample_19_i1.columns)
# colheader_sample_19_i2 = list(data_sample_19_i2.columns)
# colheader_sample_19_mfm = list(data_sample_19_mfm.columns)
# colheader_sample_19_wms = list(data_sample_19_wms.columns)

In [164]:
# iterate path variable for filenames

list_file_raw_18_i1 =[file for file in sorted(os.listdir(pathvar_raw_18_i1)) if '.txt' in file]
list_file_raw_18_i2 =[file for file in sorted(os.listdir(pathvar_raw_18_i2)) if '.txt' in file]
list_file_raw_18_mfm =[file for file in sorted(os.listdir(pathvar_raw_18_mfm)) if '.txt' in file]
list_file_raw_18_wms =[file for file in sorted(os.listdir(pathvar_raw_18_wms)) if '.txt' in file]

list_file_raw_19_i1 =[file for file in sorted(os.listdir(pathvar_raw_19_i1)) if '.txt' in file]
list_file_raw_19_i2 =[file for file in sorted(os.listdir(pathvar_raw_19_i2)) if '.txt' in file]
list_file_raw_19_mfm =[file for file in sorted(os.listdir(pathvar_raw_19_mfm)) if '.txt' in file]
list_file_raw_19_wms =[file for file in sorted(os.listdir(pathvar_raw_19_wms)) if '.txt' in file]

In [94]:
def calculate():
    for i,j,k,l in list_file,list_file2,list_file3,list_file4:
        if i.split('-')[2]=='I1':
            print(i.split('-')[2])
            data = pd.read_csv(pathvar_raw_18_i1/i,sep = '\t')
#             raw_data_columns= list(data.columns)
#             a = []
#             a.append(raw_data_columns[31])
#             a.extend(raw_data_columns)
#             if len(a)==(data.shape[1]+1):
#                 a.pop(32)
#             raw_data_columns_modified=a
#             data = data[raw_data_columns_modified]
#             d = dict(zip(raw_data_columns_modified,s_data_columns))
#             data = data[d]
#             data.rename(columns = d,inplace = True)

            cols = list(data.columns)
            a, b = cols.index('i1'), cols.index('i32')
            cols[b], cols[a] = cols[a], cols[b]
            data = data[cols]
            raw_data_columns= list(data.columns)

            d = dict(zip(raw_data_columns,s_data_columns))
            data = data[d]
            data.rename(columns = d,inplace = True)
            
            data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
            data.iloc[:,[1,3]]=data.iloc[:,[1,3]].astype('float64')
            
            data.fillna('NULL',inplace=True)
            spill=(i.split('-')[5]).split('.')[0]
            str_columns = ' '.join(s_data_columns)
#             data_values = [str(i) for i in data.values]

#             np.savetxt(f"{pathvar_gen_i1}/{i}",data,delimiter='\t',header=str_columns,fmt='%s',comments='')
            data.to_csv(f"{pathvar_gen_18_i1}/{i}",sep='\t',index=False)
             
        elif i.split('-')[2]=='I2':
            print(i.split('-')[2])
            data = pd.read_csv(pathvar_raw_18_i2/i,sep = '\t')
#             raw_data_columns= list(data.columns)
#             a = []
#             a.append(raw_data_columns[31])
#             a.extend(raw_data_columns)
#             if len(a)==(data.shape[1]+1):
#                 a.pop(32)
#             raw_data_columns_modified=a
#             data = data[raw_data_columns_modified]
#             d = dict(zip(raw_data_columns_modified,s_data_columns))
#             data = data[d]
#             data.rename(columns = d,inplace = True)

            cols = list(data.columns)
            a, b = cols.index('i1'), cols.index('i32')
            cols[b], cols[a] = cols[a], cols[b]
            data = data[cols]
            raw_data_columns= list(data.columns)

            d = dict(zip(raw_data_columns,s_data_columns))
            data = data[d]
            data.rename(columns = d,inplace = True)
            
            data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
            data.iloc[:,[1,3]]=data.iloc[:,[1,3]].astype('float64')
            
            data.fillna('NULL',inplace=True)
            spill=(i.split('-')[5]).split('.')[0]
            str_columns = ' '.join(s_data_columns)
#             data_values = [str(i) for i in data.values]

#             np.savetxt(f"{pathvar_gen_i1}/{i}",data,delimiter='\t',header=str_columns,fmt='%s',comments='')
            data.to_csv(f"{pathvar_gen_i1}/{i}",sep='\t',index=False)
            
            print(false)
    return "Sucess"

In [95]:
calculate()

I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1
I1

'Sucess'

In [ ]:
# data.columns.dtype

In [ ]:
# data.dtypes

In [ ]:
# data.iloc[:,6:]=data.iloc[:,6:].astype('float64')

In [ ]:
# example_data.dtypes

In [185]:
def col_swap(data,string1,string2):
    cols = list(data.columns)
    a, b = cols.index(string1), cols.index(string2)
    cols[b], cols[a] = cols[a], cols[b]
    data = data[cols]
    raw_data_columns = list(data.columns)
    return raw_data_columns

In [214]:
def calculate_year_18(list_file, string):
    for i in list_file:
        if i.split('-')[2]==string:
            
            if i.split('-')[2]=='I1':
                print("entered inverter1")
                print(i.split('-')[2])
                data = pd.read_csv(pathvar_raw_18_i1/i,sep = '\t')
                
                raw_data_columns= col_swap(data,'i1','i32')
            
                d = dict(zip(raw_data_columns,colheader_sample_i1))
                data = data[d]
                data.rename(columns = d,inplace = True)
                
                data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
                data.iloc[:,[1,3]]=data.iloc[:,[1,3]].astype('float64')
                
                data.fillna('NULL',inplace=True)
                data.to_csv(f"{pathvar_gen_18_i1}/{i}",sep='\t',index=False)
            
            elif i.split('-')[2]=='I2':
                print("entered inverter2")
                
                print(i.split('-')[2])
                data = pd.read_csv(pathvar_raw_18_i2/i,sep = '\t')
            
                raw_data_columns= col_swap(data,'i1','i32')
            
                d = dict(zip(raw_data_columns,colheader_sample_i1))
                data = data[d]
                data.rename(columns = d,inplace = True)
                
                data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
                data.iloc[:,[1,3]]=data.iloc[:,[1,3]].astype('float64')
                
                data.fillna('NULL',inplace=True)
                data.to_csv(f"{pathvar_gen_18_i2}/{i}",sep='\t',index=False)
                
            elif i.split('-')[2]=='MFM1':
                print("entered mfm")
                
                print(i.split('-')[2])
                data = pd.read_csv(pathvar_raw_18_mfm/i,sep = '\t')
            
                raw_data_columns= col_swap(data,'m1','m63')
            
                d = dict(zip(raw_data_columns,colheader_sample_mfm))
                data = data[d]
                data.rename(columns = d,inplace = True)
                
                data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
                
                data.fillna('NULL',inplace=True)
                data.to_csv(f"{pathvar_gen_18_mfm}/{i}",sep='\t',index=False)
                
            elif i.split('-')[2]=='WMS':
                print("entered wms")
                
                print(i.split('-')[2])
                data = pd.read_csv(pathvar_raw_18_wms/i,sep = '\t')
            
                raw_data_columns= col_swap(data,'w1','w23')
            
                d = dict(zip(raw_data_columns,colheader_sample_wms))
                data = data[d]
                data.rename(columns = d,inplace = True)
                
                if i.split('-')[-1].split('.')[0]!='30':
                    data.iloc[:,7:]=data.iloc[:,7:].astype('float64')
                else:
                    data.iloc[:,8:]=data.iloc[:,8:].astype('float64')
                data.iloc[:,[1,3,5]]=data.iloc[:,[1,3,5]].astype('float64')
                
                data.fillna('NULL',inplace=True)
                data.to_csv(f"{pathvar_gen_18_wms}/{i}",sep='\t',index=False)
            
                print(f"success in {i}")

In [215]:
calculate_year_18(list_file_raw_18_mfm,'MFM1' )

entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1
entered mfm
MFM1

In [271]:
def calculate_year_19(list_file, string):
    for i in list_file:
        if i.split('-')[2]==string:
            
            if i.split('-')[2]=='I1':
                
                data = pd.read_csv(pathvar_raw_19_i1/i,sep = '\t')
                
                raw_data_columns= col_swap(data,'i1','i32')
            
                d = dict(zip(raw_data_columns,colheader_sample_i1))
                data = data[d]
                data.rename(columns = d,inplace = True)
                
                data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
                data.iloc[:,[1,3]]=data.iloc[:,[1,3]].astype('float64')
                
                data.fillna('NULL',inplace=True)
                data.to_csv(f"{pathvar_gen_19_i1}/{i}",sep='\t',index=False)
                print(f"success in {i}")
                
            elif i.split('-')[2]=='I2':
                
                data = pd.read_csv(pathvar_raw_19_i2/i,sep = '\t')
            
                raw_data_columns= col_swap(data,'i1','i32')
            
                d = dict(zip(raw_data_columns,colheader_sample_i1))
                data = data[d]
                data.rename(columns = d,inplace = True)
                
                data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
                data.iloc[:,[1,3]]=data.iloc[:,[1,3]].astype('float64')
                
                data.fillna('NULL',inplace=True)
                data.to_csv(f"{pathvar_gen_19_i2}/{i}",sep='\t',index=False)
                print(f"success in {i}")
                
            elif i.split('-')[2]=='MFM1':
                
                data = pd.read_csv(pathvar_raw_19_mfm/i,sep = '\t')
            
                raw_data_columns= col_swap(data,'m1','m63')
            
                d = dict(zip(raw_data_columns,colheader_sample_mfm))
                data = data[d]
                data.rename(columns = d,inplace = True)
                
                data.iloc[:,5:]=data.iloc[:,5:].astype('float64')
                
                data.fillna('NULL',inplace=True)
                data.to_csv(f"{pathvar_gen_19_mfm}/{i}",sep='\t',index=False)
                print(f"success in {i}")
                
            elif i.split('-')[2]=='WMS':
                
                data = pd.read_csv(pathvar_raw_19_wms/i,sep = '\t')
            
                raw_data_columns= col_swap(data,'w1','w23')
            
                d = dict(zip(raw_data_columns,colheader_sample_wms))
                data = data[d]
                data.rename(columns = d,inplace = True)
                file_number = i.split('-')[-1].split('.')[0]
                
                if file_number=='01' and file_number=='02' and file_number=='03' and file_number=='04':
                    data.iloc[:,7:]=data.iloc[:,7:].astype('float64')
                else:
                    data.iloc[:,8:]=data.iloc[:,8:].astype('float64')
                    
                data.iloc[:,[1,3,5]]=data.iloc[:,[1,3,5]].astype('float64')
                
                data.fillna('NULL',inplace=True)
                data.to_csv(f"{pathvar_gen_19_wms}/{i}",sep='\t',index=False)
            
                print(f"success in {i}")

In [272]:
# calculate_year_19(list_file_raw_19_i1,'I1')

In [273]:
# calculate_year_19(list_file_raw_19_i2,'I2')

In [274]:
# calculate_year_19(list_file_raw_19_mfm,'MFM1')

In [275]:
# calculate_year_19(list_file_raw_19_wms,'WMS')

entered wms
WMS
01
success in [IN-023C]-WMS-2019-01-01.txt
entered wms
WMS
02
success in [IN-023C]-WMS-2019-01-02.txt
entered wms
WMS
03
success in [IN-023C]-WMS-2019-01-03.txt
entered wms
WMS
04
success in [IN-023C]-WMS-2019-01-04.txt
entered wms
WMS
05
success in [IN-023C]-WMS-2019-01-05.txt
entered wms
WMS
06
success in [IN-023C]-WMS-2019-01-06.txt
entered wms
WMS
07
success in [IN-023C]-WMS-2019-01-07.txt
entered wms
WMS
08
success in [IN-023C]-WMS-2019-01-08.txt
entered wms
WMS
09
success in [IN-023C]-WMS-2019-01-09.txt
entered wms
WMS
10
success in [IN-023C]-WMS-2019-01-10.txt
entered wms
WMS
11
success in [IN-023C]-WMS-2019-01-11.txt
entered wms
WMS
12
success in [IN-023C]-WMS-2019-01-12.txt
entered wms
WMS
13
success in [IN-023C]-WMS-2019-01-13.txt
entered wms
WMS
14
success in [IN-023C]-WMS-2019-01-14.txt
entered wms
WMS
15
success in [IN-023C]-WMS-2019-01-15.txt
entered wms
WMS
16
success in [IN-023C]-WMS-2019-01-16.txt
entered wms
WMS
17
success in [IN-023C]-WMS-2019-01-17.txt
entered wms
WMS
18
success in [IN-023C]-WMS-2019-01-18.txt
entered wms
WMS
19
success in [IN-023C]-WMS-2019-01-19.txt
entered wms
WMS
20
success in [IN-023C]-WMS-2019-01-20.txt
entered wms
WMS
21
success in [IN-023C]-WMS-2019-01-21.txt
entered wms
WMS
22
success in [IN-023C]-WMS-2019-01-22.txt
entered wms
WMS
23
success in [IN-023C]-WMS-2019-01-23.txt
entered wms
WMS
24
success in [IN-023C]-WMS-2019-01-24.txt
entered wms
WMS
25
success in [IN-023C]-WMS-2019-01-25.txt
entered wms
WMS
26
success in [IN-023C]-WMS-2019-01-26.txt
entered wms
WMS
27
success in [IN-023C]-WMS-2019-01-27.txt
entered wms
WMS
28
success in [IN-023C]-WMS-2019-01-28.txt
entered wms
WMS
29
success in [IN-023C]-WMS-2019-01-29.txt
entered wms
WMS
30
success in [IN-023C]-WMS-2019-01-30.txt
entered wms
WMS
31
success in [IN-023C]-WMS-2019-01-31.txt

In [192]:
data_sample_18_i1 = pd.read_csv("./Raw/[IN-023C]/2018/2018-12/Inverter_1/[IN-023C]-I1-2018-12-01.txt",sep='\t')
data_sample_18_i2 = pd.read_csv("./Raw/[IN-023C]/2018/2018-12/Inverter_2/[IN-023C]-I2-2018-12-01.txt",sep='\t')
data_sample_18_mfm1 = pd.read_csv('./Raw/[IN-023C]/2018/2018-12/MFM/[IN-023C]-MFM1-2018-12-01.txt',sep='\t')
data_sample_18_mfm2 = pd.read_csv('./Gen1/[IN-023C]/2018/2018-12/MFM/[IN-023C]-MFM1-2018-12-01.txt',sep='\t')

data_sample_18_i3 = pd.read_csv("./Gen1/[IN-023C]/2018/2018-12/Inverter_2/[IN-023C]-I2-2018-12-01.txt",sep='\t')

data_sample_18_wms1 = pd.read_csv('./Raw/[IN-023C]/2018/2018-12/WMS/[IN-023C]-WMS-2018-12-30.txt',sep='\t')
data_sample_18_wms2 = pd.read_csv('./Gen1/[IN-023C]/2018/2018-12/WMS/[IN-023C]-WMS-2018-12-30.txt',sep='\t')

In [193]:
r1=list(data_sample_18_wms1.dtypes)
r2=list(data_sample_18_wms2.dtypes)

In [201]:
r1

[dtype('float64'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64')]

In [203]:
data_sample_18_wms.head()

,Tstamp,w2,w3,w4,w5,w6,w7,w8,Humidity_Min,Module_Temp1,...,Wind_Speed_Min,Wind_Speed_Max,Humidity_Avg,Wind_Direction_Min,Wind_Direction_Max,Wind_Speed_Avg,Global_Irradiation_Actual,w33,Rain,Room_Temperature
0,2018-12-01 00:00:00,1.0,CT08,1.0,2018-12-01 00:00:40,0.0,9D,3.0,NaN,60.316821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN
1,2018-12-01 00:05:00,1.0,CT08,1.0,2018-12-01 00:04:39,0.0,7E,3.0,NaN,60.773717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN
2,2018-12-01 00:10:00,1.0,CT08,1.0,2018-12-01 00:10:50,0.0,6A,3.0,NaN,61.217085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN
3,2018-12-01 00:15:00,1.0,CT08,1.0,2018-12-01 00:14:50,0.0,4D,3.0,NaN,61.669472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN
4,2018-12-01 00:20:00,1.0,CT08,1.0,2018-12-01 00:20:10,0.0,2E,3.0,NaN,62.405916,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN

In [204]:
data_sample_18_wms2.head()

,Tstamp,w2,w3,w4,w5,w6,w7,w8,Humidity_Min,Module_Temp1,...,Wind_Speed_Min,Wind_Speed_Max,Humidity_Avg,Wind_Direction_Min,Wind_Direction_Max,Wind_Speed_Avg,Global_Irradiation_Actual,w33,Rain,Room_Temperature
0,2018-12-30 00:05:00,1.0,CT08,1.0,2018-12-30 00:05:24,0.0,4E,3.0,NaN,43.907659,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN
1,2018-12-30 00:10:00,1.0,CT08,1.0,2018-12-30 00:10:44,0.0,3B,3.0,NaN,44.065468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN
2,2018-12-30 00:15:00,1.0,CT08,1.0,2018-12-30 00:14:45,0.0,0E,3.0,NaN,44.070979,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN
3,2018-12-30 00:20:00,1.0,CT08,1.0,2018-12-30 00:20:07,0.0,E7,3.0,NaN,44.618552,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN
4,2018-12-30 00:25:00,1.0,CT08,1.0,2018-12-30 00:25:26,0.0,AF,3.0,NaN,45.844205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,0.0,NaN

In [230]:
data_sample_19_i1 = pd.read_csv("./Raw/[IN-023C]/2019/2019-01/Inverter_1/[IN-023C]-I1-2019-01-01.txt",sep='\t')
data_sample_19_i2 = pd.read_csv("./Raw/[IN-023C]/2019/2019-01/Inverter_2/[IN-023C]-I2-2019-01-01.txt",sep='\t')
data_sample_19_mfm1 = pd.read_csv('./Raw/[IN-023C]/2019/2019-01/MFM/[IN-023C]-MFM1-2019-01-01.txt',sep='\t')
data_sample_19_mfm2 = pd.read_csv('./Gen1/[IN-023C]/2019/2019-01/MFM/[IN-023C]-MFM1-2019-01-01.txt',sep='\t')

data_sample_19_i3 = pd.read_csv("./Gen1/[IN-023C]/2019/2019-01/Inverter_2/[IN-023C]-I2-2019-01-01.txt",sep='\t')

data_sample_19_wms1 = pd.read_csv('./Raw/[IN-023C]/2019/2019-01/WMS/[IN-023C]-WMS-2019-01-05.txt',sep='\t')
data_sample_19_wms2 = pd.read_csv('./Gen1/[IN-023C]/2019/2019-01/WMS/[IN-023C]-WMS-2019-01-05.txt',sep='\t')

In [231]:
r1=list(data_sample_19_wms1.dtypes)
r2=list(data_sample_19_wms2.dtypes)

In [232]:
r1# data_sample_18_wms.columns

[dtype('float64'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('int64'),
 dtype('int64'),
 dtype('float64')]

In [233]:
r2# data_sample_19_i1.columns

[dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64')]

In [117]:
# data_sample_19_i2.columns